apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/component: keycloak
    app.kubernetes.io/instance: keycloak
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: keycloak
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version}}
  name: keycloak-env-vars
  namespace: {{ .Release.Namespace }}
data:
  JAVA_OPTS_APPEND: '-Djgroups.dns.query=keycloak-headless.keycloak.svc.cluster.local'
  KC_BOOTSTRAP_ADMIN_USERNAME: admin
  KC_CACHE_CONFIG_FILE: cache-ispn.xml
  KC_CACHE_TYPE: ispn
  KC_DB: "postgres"
  KC_DB_DATABASE: {{ .Values.db.name | quote }}
  KC_DB_PORT: {{ .Values.db.port | quote }}
  KC_DB_URL_HOST: {{ .Values.db.host | quote }}
  KC_DB_USERNAME: {{ .Values.db.user | quote }}
  KEYCLOAK_ENABLE_HTTPS: {{ .Values.ingress.tls | quote }}
  KEYCLOAK_ENABLE_STATISTICS: 'true'
  KEYCLOAK_HOSTNAME_ADMIN: {{ .Values.adminIngress.domain | quote }}
  KEYCLOAK_HOSTNAME: {{ .Values.ingress.domain | quote }}
  KEYCLOAK_HOSTNAME_STRICT: 'false'
  KEYCLOAK_HTTP_PORT: '8080'
  KC_LOG_LEVEL: {{ .Values.log.level }}
  KEYCLOAK_LOG_OUTPUT: {{ .Values.log.output }}
  KEYCLOAK_PRODUCTION: {{ .Values.isProduction | quote }}
  KEYCLOAK_PROXY_HEADERS: ''
